.navUl {
    position: fixed;
    list-style: none;
    display: block;
    width: 15%;
    height: 100%;
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.navUl li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-weight: bold;
    padding: .5rem;
}


.navUl li:hover {
    cursor: pointer;
    color: white;
    background: darkred;
}


