
.flexContainer {
    display: flex;
}

.login {
    width: 50%;
}

.wallpaper {
    width: 50%;
}

.wallpaper {
    width: 50%;
    height: 100%;
    background: url('../../Assets/LoginWallpaper/wallpaper1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wallpaper img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.wallpaper img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}